<h1>Rating statistics</h1>

<div class="row">
  <div class="col-md-4">
    <h2>
      Best beers
    </h2>
    <%= render 'list', subjects: @top_beers %>
  </div>

  <div class="col-md-4">
    <h2>
      Best breweries
    </h2>
    <%= render 'list', subjects: @top_breweries %>
  </div>

  <div class="col-md-4">
    <h2>
      Best styles
    </h2>
    <%= render 'list', subjects: @top_styles %>
  </div>
</div>

<h2>Most active users</h2>
<table class="table table-bordered table-striped table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Favorite beer</th>
    <th>Preferred style</th>
    <th>Favorite brewery</th>
    <th>Ratings</th>
  </tr>
  </thead>
  <tbody>
  <% @top_users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= link_to user.favorite_beer, user.favorite_beer %></td>
        <td><%= link_to user.favorite_style, user.favorite_style %></td>
        <td><%= link_to user.favorite_brewery.name, user.favorite_brewery %></td>
        <td><%= user.average_rating %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Recent ratings</h2>
<ul class="list-group">
  <% @recent_ratings.each do |rating| %>
      <li class="list-group-item"><%= rating.beer.name %>, <%= rating.score %>,
        by <%= link_to rating.user.username, rating.user %></li>
  <% end %>
</ul>

<% if current_user %>
    <%= link_to "new", new_rating_path, class: 'btn btn-primary' %>
<% end %>

