<p id="notice"><%= notice %></p>

<h1>Listing Styles</h1>

<% cache 'stylelist', expires_in: 10.minutes do %>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
        <td><%= link_to 'Edit', edit_style_path(style), class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Style', new_style_path, class: "btn btn-primary" %>
