<p id="notice"><%= notice %></p>

<p>
  <%= form_tag places_path do %>
      city <%= text_field_tag :city, params[:city] %>
      <%= submit_tag "Search" %>
  <% end %>
</p>


<p>
  <% if @weather %>
      The current weather in <%= @weather.location['name'] %> <br>
      <%= image_tag @weather.current['condition']['icon'] %> <br>
      <%= @weather.current['temp_c'] %> Celcius <br> <br>
      <strong>Wind: </strong> <%= @weather.current['wind_mph'] %> m/sec, direction <%= @weather.current['wind_dir'] %>
  <% end %>
</p>

<p>
  <strong>Places to get your beer</strong>
</p>

<% if @places %>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <% Place.rendered_fields.each do |f| %>
          <td><%= f %></td>
      <% end %>
      </thead>
      <% @places.each do |place| %>
          <tr>
            <% Place.rendered_fields.each do |f| %>
                <% if f.to_s == 'name' %>
                    <td><%= link_to place.send(f), place_path(place.id) %></td>
                <% else %>
                    <td><%= place.send(f) %></td>
                <% end %>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>